@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* shared styles */

* {
    margin: 0px;
    padding: 0px;
}
.work-sans {
    font-family: "Work Sans", sans-serif;
}

.display-flex {
    display: flex;
}

.br-ck{
    border: 2px solid red;
}

.width-80-percent {
    width: 80%;
    margin: 0 auto;
}

.width-100-percent {
    width: 100%;
    margin: 0 auto;
}

.flex-dir-col {
    flex-direction: column;
}

.jt-content {
    justify-content: center;
}

.al-items {
    align-items: center;
}

.primary_color {
    color:rgba(255, 144, 14, 1)
}

.dark-1{
    color: rgba(19, 19, 19, 1);
}

.dark-2 {
    /* color: rgb(206, 21, 21); */
    color: rgba(66, 66, 66, 1);
}
.dark-3 {
    color: rgba(114, 114, 114, 1);
}

.width-50-percent {
    width: 70%;
    margin: 0 auto;
}

.btn {
    padding: 21px 24px 20px 25px;
    font-size: 1.20rem;
    font-weight: 600;
    background-color: rgba(255, 144, 14, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar styles starts here */

nav {
    /* flex-direction: column; */
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.heightwise-center {
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav a {
    text-decoration: none; 
}

.brand-name {
    font-size: 2.5rem;
    font-weight: 800;
}

.nav_bar_content {
    font-size: 1.25rem;
    font-weight: 400;
}

/* banner styles starts here */
  
.banner_title {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 50px;
}

.banner {
    text-align: center;     
}

.description{
    margin-top: 25px;
}

.btn {
    margin-top: 35px;
}
.banner-img img{
    width: 100%;
    margin-top: 50px;
}

.margin-btm {
    padding-bottom: 45px;
}

/* feature section styles */
.width-40-percent {
    width: 40%;
}

.width-60-percent {
    width: 60%;
}

.feature_section {
    width: 75%;
    height: auto    ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 85px auto;
}

.img-container {
    /* width: 60%; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
}
.img-container img {
    height: 300px;
    width: auto;
}


.left_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 75px;
}

.feature_title {
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.feature_description {
    font-size: 1rem;
    font-weight: 400;
}

/* for small devices */

@media screen and (max-width: 576px) {
    nav, .nav_bar_content{
        flex-direction: column;
        text-align: center; 
    }
    .active {
        margin: 10px auto; 
        padding-left: 0;
    }
    .banner-img img, .banner_title{
        margin-top: 25px;
    }
    .feature_section, .img-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .left_part {
        margin: 20px auto;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, .nav_bar_content{
        flex-direction: column; 
        text-align: center; 
    }   
    nav li {
        margin-left: 30px;
    }
    .feature_section {
        grid-template-columns: repeat(1, 1fr);
    }
    .left_part {
        margin: 20px auto;
    }
    .img-container {
        grid-template-columns: repeat(2, 1fr);
        width: calc(100% - 60px);
        margin: 0 auto;
    }
}
